body {
    padding: 10px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navmenu {
    border: 2px solid;
    display: flex;
    border-bottom: 0px;
    padding-left: 16px;
    text-align: center;
}

.navmenu li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
}

.elden {
    border: 2px solid;
    padding: 10px;
    display: flex;
}

.catalog-menu {
    border: 2px solid;
    padding: 10px;
    display: flex;
}

.ratings {
    width: 30%;
    float: right;
    border: 2px solid;
    padding: 10px;
}

.genres {
    display: flex;
    gap: 1em;
}

.genre1 .genre2 .genre3 {
    border: 2px solid;
    padding: 10px;
}

.main-message {
    width: 70%;
    display: flex;
    flex-direction: column;
}

img {
    width: 70%;
    height: auto;
    padding: 10px;
    border-left: 2px solid;
    border-bottom: 0px;
    border-top: 0px;
}

.screenshots {
    width: 20%;
    height: 20%;
    display: flex;
}

.screenshotmenu {
    border: 2px solid;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 0px;
}

.systeemeisenmenu {
    border: 2px solid;
    padding: 10px;
    border-bottom: 0px;
}

.recensiesmenu {
    border: 2px solid;
    padding: 10px;
}

#catalog-btn {
    margin: 10px;
    border-radius: 10px;
}
/* Put the ul li in a row from top to bottom*/
.catalog-menu ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin: 3px;
    border: 2px solid;
    padding: 10px;
    font-size: 14px;
}

.catalog-menu ul li h2 {
    margin: 0;
    font-size: 16px;
}
